body {
    margin: 0;
    padding: 0;
}

#game-screen {
    display: block;
}

#gameOver, #playHUD, #menuDisplay, #LevelSelect {
    position: absolute;
    visibility: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Wellfleet', cursive;
    color: white;
    font-size: 2em;
    text-align: center;
}

.title {
    font-size: 125px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#restartButton, #playButton, #levels, #Medium, #Hard {
    border: 2px solid white;
    border-radius: 10px;
}

#restartButton:hover {
    background-color: #009900;
}

#playButton:hover {
    background-color: #009900;
}

#levels:hover {
    background-color: #009900;
}

#Medium:hover {
    background-color: #009900;
}

#Hard:hover {
    background-color: #009900;
}

#scoreboard {
    margin: 0px;
}
